<div class="form-group">
	<label for="{{ property.name }}" class="col-sm-2 control-label">{{ property.description }}</label>
	<div class="col-sm-10">
{% for bean in bean[property.name] %}
		<div class="checkbox">
			<label>
				<input type="checkbox" name="{{ property.name }}[]" value="{{ bean.id }}" checked="checked"> <a href="{{ path_for('getbean', { 'beantype': property.name, 'id': bean.id }) }}">{{ bean.title }}</a>
			</label>
		</div>
{% endfor %}
{% if property.options and property.options|length > 0 %}
		<select class="form-control select2" name="{{ property.name }}[]">
			<option value="" selected="selected">Select to add a {{ property.name }}</option>
{% 	for option in property.options %}
			<option value="{{ option.id }}">{{ option.title }}</option>
{% 	endfor %}
		</select>
{% 	endif %}
	</div>
</div>